body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to top, #295e9b, #b4b4b4);
}
.navbar{
    /* background: linear-gradient(to right, rgba(31, 68, 110, 0.7), rgba(180, 180, 180, 0.7));*/
    /* background: linear-gradient(to right, #1f446e, #b4b4b4);*/
    /*height: 105px;*/
    /*margin-bottom: 5px;*/
    /*border-bottom: 2px solid #000;*/
    background: white;
    
}
.navbar-brand{
    display: inline-block; /* Imposta il display su inline-block */
    width: 10%;
}
.logo{
    width: 70%;
}
.container-contact {
    color: #b4b4b4;
    margin-top: 50px;
    width: 100%; /* Larghezza del contenitore */
   /* background-color: black;*/
    text-align: center; /* Centrare il testo orizzontalmente */
   /* line-height: 200px; /* Centrare il testo verticalmente */
  }
.container-contact a {
    color: #ffffff;
    text-decoration: none;
}

.contact-logo{
    margin-top: 20px;
    width: 200px;
}
.contact-write{
    margin:20px;
  /*  width: 100%; /* Larghezza del contenitore */
   /* background-color: black;*/
   /* text-align: center; /* Centrare il testo orizzontalmente */
   /* line-height: 200px; /* Centrare il testo verticalmente */
  }